<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comments</title>

    <script src='http://code.jquery.com/jquery-latest.js'></script>
    <script src="/javascripts/comments.js"></script>
    
</head>
<body>
    <h1>Comments</h1>

    <table>
        <tr>
            <th>id</th>
            <th>writer</th>
            <th>comment</th>
        </tr>
        <% result.forEach((item) => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.writer %></td>
                <td><%= item.comment %></td>
            </tr>
        <% }); %>

        <tr>
            <td><button id="btnAddComment" onclick="addComment();">add comment</button></td>
            <td><input type="text" id="writer"/></td>
            <td><input type="text" id="comment"/></td>
        </tr>
    </table>
</body>
</html>